<configuration>

  <appender name="console" class="console_appender">
    <encoder>
      <simple_layout />
    </encoder>
  </appender>

  <appender name="file" class="file_appender">
    <file>C:\temp\out.log</file>

    <encoder>
      <simple_layout />
    </encoder>
  </appender>

  <logger name="test.info" level="INFO" />

  <logger name="test.debug" level="INFO">
    <appender-ref ref="console" />
  </logger>

  <root level="WARN">
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>

</configuration>